.footer {
  display: flex;
  align-items: flex-end;
  padding: 67px 200px 60px;
  margin: 0;
  font-family: "Inter", sans-serif;
}
.footer__copyright {
  color: #545454;
  margin: 0;
}
@media screen and (max-width: 470px) {
  .footer {
    padding: 54px 95px 42px;
  }
}
@media screen and (max-width: 1280px) {
  .footer {
    padding: 48px 19px 36px;
  }
}
